@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.note_block {
  padding: $defaultPadding;
  margin-bottom: 3px;
  background-color: rgb(34, 34, 34);
  border-radius: 0.2rem;

  display: flex;
  align-items: center;      /* Вертикальное выравнивание */
  justify-content:flex-start; /* Текст слева, кнопки справа */
  // gap: 0.5rem;

  &:hover {
    background-color: rgb(52, 52, 52);
  }
}

.text {
  flex-grow: 1;
}

.trash_btn {
  background-color: inherit;
  border: none;
  color: $defaultTextColor;
  font-size: 1.2rem;
}

.star_btn {
  background-color: inherit;
  border: none;
  color: $defaultTextColor;
  font-size: 1.3rem;

}


