@import './vars.scss';

@mixin h1 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.7rem;
}

// @mixin inputs {
//   color: $defaultTextColor;
//   font-size: $defaultFontSize;
//   padding: 0.5rem;
//   border-radius: 8px;
//   background-color: $white;
//   border: 1px solid #444;
//   transition: border-color 0.3s;
//   width: 100%;
//   outline: none;
// }

@mixin buttons($radius: 8px) {
  width: 100%;
  color: $defaultTextColor;
  background-color: $white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: $radius;
  border: 0.5px solid #494b4c;

  &:hover {
    background: #494949;
    color: $white;
  }

  &:active {
    background: #4e99fc;
    color: $white;
  }
}
