$white: #F9F9F9;
$black: #000;
$dark-grey: #2D3436;
$mint: #8CEEBF;
$blue: #A2D2FF;
$peach: #FFB7B2;

$defaultFontFamily: 'Inter', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $white;
$defaultTextColor: $dark-grey;
$defaultLineHeight: 1.2;