$white: #f9f9f9;
$black: #000;
$dark-grey: rgb(28,28,28);
$mint: #8ceebf;
$blue: #eaf5fc;


$defaultFontFamily: 'Inter', sans-serif;
$defaultFontSize: 14px;
$defaultBackgroundColor: $dark-grey;
$defaultTextColor: $white;
$defaultLineHeight: 1.2;
