@import '../../node_modules/reset-css/sass/_reset.scss';
@import '@fontsource/inter';
@import './vars.scss';
@import './mixins';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;

  font-size: $defaultFontSize;
}

body {
  font-family: $defaultFontFamily;
  background: $defaultBackgroundColor;
  color: $defaultTextColor;
  line-height: $defaultLineHeight;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.app_wrapper {
  display: flex;
  max-width: 100%;
  background-color: rgb(34, 34, 34);
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 25%;
  height: 100vh;
  padding: 2rem 1rem;

  background-color: rgb(34, 34, 34);
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem 3rem;

  border-radius: 5px;
  background-color: rgb(28, 28, 28);
}

