@import '../../node_modules/reset-css/sass/_reset.scss';
@import "@fontsource/inter";
@import './vars.scss';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  background: $defaultBackgroundColor;
  color: $defaultTextColor;
  line-height: $defaultLineHeight;
  padding-top: 50px;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.app_wrapper {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid red;

}

.search_wrapper {
  display: flex;
  justify-content: space-between;

  border: 1px solid red;
}