@import '../../styles/vars';
@import '../../styles/mixins';

.input {
  width: 100%;
  background-color: rgb(34, 34, 34);
  border-radius: 0.2rem;
  border: 0.1px solid grey;
  border-bottom: 2px solid grey;

  padding: $defaultPadding;

  &:focus {
    outline: none;
    border-bottom-color: #e691fb;
    color: $defaultTextColor;
  }
}
