@import '../../styles/vars';

.add_wrapper {
  margin-top: 0.5rem;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.custom_input {
  background-color: rgb(34, 34, 34);
  color: #fff; /* белый текст */
  border: none; /* без рамки */
  outline: none;
  padding: $defaultPadding; /* внутренние отступы */
  width: 100%; /* на всю ширину */
  font-size: 16px; /* размер шрифта */
  border-radius: 6px;
  box-sizing: border-box;
}
