@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.header {
  margin-bottom: 1.5rem;
  width: 100%;
}

.name {
  @include h1;

}

.info {
  font-size: $defaultFontSize;
  color: $white;

}
